<p>
  <label for="transaction_<%= transactionKey %>">
    <%- questionText %><br />
    <input type="text" name="transaction[<%= transactionKey %>]" id="transaction_<%= transactionKey %>" size="10" required/>
  </label>
</p>
