<p>
  <label for="transaction_postage">
  <%= questionText %><br />
  <select name="transaction[p]" id="transaction_postage"> 
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
</p>
