<p class="summary">Pay to register the birth of a British national abroad.</p>
<%- partial("partials/questions/registration_count", { questionText: "How many births do you need to register? Each registration costs &pound;"+transaction.registration_cost+". This does not include a copy of the certificate." }) %>

<%- partial("partials/questions/document_count", { questionText: "How many certificates do you need? Each one costs &pound;"+transaction.document_cost+"." }) %>

<%- partial("partials/questions/postage_options", { questionText: "You must pay for your documents to be returned to you by tracked courier. Where do you want them to be returned to?" }) %>

<%- partial("partials/questions/email_address", { questionText: "Please enter your email address" }) %>
